@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>SEGUNDO EXAMEN PARCIAL</h2>
    <ul>
        <li>CARNE: 2015TP601</li>
        <li>NOMBRE: BYRON JOSÉ TEJADA PINEDA</li>
    </ul>
</div>

<!-- The grid: four columns -->
<div class="gallery">

</div>
